.headerWrapper {
    width: 100vw;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
}

.headerWrapper img {
    margin-left: 50px;
    padding: 15px;
    height: 100px;
}