#root {
  margin: 0;
  padding: 0; 
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #root {
    max-width: 580px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #root {
    min-width: 580px;
    max-width: 748px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #root {
    min-width: 748px;
    max-width: 972px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #root {
    min-width: 972px;
    max-width: 1280px;
  }
}