body {
  margin: 0;
  display: flex;
  place-items: center;
  align-items: flex-start;
  align-content: space-between;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgb(245, 245, 245);
}